<?php

return array(
    'appName'           => '<%= @appName %>', // Yii::t('app', '<%= @appName %>') - Обязательно нужно для перевода
    'yiiDebug'          => <%= @debug %>,

    'dbHost'            => '<%= @dbHost %>',
    'dbName'            => '<%= @dbName %>',
    'dbLogin'           => '<%= @dbUser %>',
    'dbPassword'        => '<%= @dbPass %>',

    'imageDriver'       => 'GD', // Image_GD_Driver,Image_ImageMagick_Driver

    'baseUrl'           => '', // '/cabinet'

    'adminEmail'        => '',

    'translateKey'      => 'trnsl.1.1.20160406T110544Z.e602431cea20f040.99d05e31800a73d996b1fb124c6e23e1c1019951',
);