server {
    listen       80;
    server_name  <%= @domain %>;

    access_log  /var/log/nginx/<%= @project_name %>.access.log;
    error_log  /var/log/nginx/<%= @project_name %>.error.log;

    set $root_path  '<%= @project_dir %>/www';
    #root   $root_path;
    #index  index.php;

    location / {
        # Redirect from * to www.*
#        if ($http_host ~ "^www.<%= @domain %>"){
#            rewrite ^(.*)$ http://<%= @domain %>/$1 redirect;
#        }

        try_files $uri $uri/ @fallback;
        root $root_path;
        index index.php;
    }

    location @fallback
    {
        rewrite ^(.*?/[^.]*?[^/.])$ $1/ permanent;
        rewrite ^(.*)$ /index.php last;
    }

    location ~ \.php$ {
        root           $root_path;
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $root_path/$fastcgi_script_name;
        fastcgi_param  PATH_INFO $fastcgi_script_name;
        include        fastcgi_params;
    }

    location ~ /\.ht {
        deny  all;
    }
}

server {
    listen 80;
    server_name www.<%= @domain %>;

    location / {
            rewrite ^(.*)$ http://<%= @domain %>$1 redirect;
    }
}
