<?php

return array(
    'appName'           => '<%= @appName %>',
    'yiiDebug'          => <%= @debug %>,

    'dbHost'            => '<%= @dbHost %>',
    'dbName'            => '<%= @dbName %>',
    'dbLogin'           => '<%= @dbUser %>',
    'dbPassword'        => '<%= @dbPass %>',

    'imageDriver'       => 'GD', //Image_GD_Driver,Image_ImageMagick_Driver
);
